#form input, #form button {
  background-color: transparent;
  border: transparent;
  outline: none;
}

.fixed, #form, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  text-rendering: optimizeLegibility;
}

body, ul, li, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Karla';
}

h1 {
  font-size: 3.5vw;
}

h2 {
  font-size: 1.5vw;
}

h3 {
  font-size: 0.95vw;
}

h4 {
  font-size: 1.1vw;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
}

.fixed {
  background-color: #fff;
  width: 98%;
  height: 4vw;
  padding: 1.46vw;
}

#menu_collapse {
  display: none;
}

.icon {
  display: none;
}

#logotipo {
  width: 15vw;
  height: 3.6vw;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  margin-left: 1.46vw;
}

.menu li a {
  color: #707070;
  display: block;
  padding: 0.73vw;
  font-size: 1.317vw;
}

.menu li a:hover {
  background-color: #d9d9d9;
  border-radius: 0.1vw;
}

#login {
  width: 2.63vw;
  height: 2.63vw;
  border-radius: 50%;
  background-image: url("../imagens/laphoto.jpg");
}

#login a > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#form {
  position: relative;
  width: 16.57vw;
  height: 0.8vw;
  border: 0.07vw solid #707070;
  border-radius: 1.46vw;
  padding: 0.5vw;
}

#form input {
  font-size: 0.9vw;
  font-family: 'Karla';
}

#form button img {
  width: 0.8vw;
  height: 0.8vw;
}

/* Footer */
footer {
  width: 100%;
  height: 5.12vw;
  margin-top: 1.5vw;
  background-color: #fff;
}

.social-holder {
  width: 200vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.social-holder a > img {
  width: 3vw;
  height: 3vw;
  margin: 1vw;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 599px) {
  h2 {
    font-size: 4.2vw;
  }
  h3 {
    font-size: 2vw;
  }
  h4 {
    font-size: 2.5vw;
  }
  footer {
    margin-top: 0;
  }
  header {
    min-height: 20vw;
    max-height: 48vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fixed {
    width: auto;
    height: 17vw;
  }
  #logotipo {
    width: 50vw;
    height: 12vw;
  }
  nav {
    display: none;
  }
  #menu_collapse {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 20vw;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .menu {
    width: 100%;
    background-color: #fff;
  }
  .menu li {
    margin-left: 1.3vw;
  }
  .menu li a {
    padding: 0.7vw;
    color: #707070;
    font-size: 4vw;
  }
  .icon {
    display: block;
    color: black;
    font-size: 7vw;
  }
  #form {
    display: none;
    position: absolute;
    z-index: 1;
    top: 20vw;
    width: 100%;
    height: 15vw;
    background-color: #fff;
  }
  #form input {
    width: 90%;
    height: 10vw;
    border: 0.3vw solid #707070;
    border-radius: 1vw;
    font-size: 3vw;
    margin: 3vw;
  }
  #login {
    display: none;
  }
  /* Footer */
  footer {
    width: 100%;
    height: 12vw;
    margin-top: 4vw;
  }
  footer a > img {
    width: 6vw;
    height: 6vw;
  }
}

h5 {
  color: #000;
  text-align: center;
  font-size: 3vw;
  margin: 0;
}

span {
  color: #707070;
  text-align: center;
  display: block;
  font-size: 2.5vw;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18vw 10vw auto;
      grid-template-rows: 18vw 10vw auto;
}

#search {
  -ms-grid-column: 1;
  grid-column: 1;
  width: 100%;
  height: 18vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#search input {
  border: 0.2vw solid #707070;
  border-radius: 4.831vw;
  width: 73.188vw;
  height: 9.903vw;
  font-style: 'Karla';
  font-size: 4vw;
}

.option-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  border-bottom: 0.2vw solid #707070;
  width: 100%;
  height: 10vw;
}

#genero {
  margin-left: 4.348vw;
}

#genero, #studio, #nota {
  width: 29vw;
  height: 8.696vw;
  margin-right: 3vw;
  background-color: transparent;
  border: transparent;
}

.anime-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.anime {
  background-color: #fff;
  height: 72vw;
  width: 40vw;
  margin-top: 4vw;
  border-radius: 4.831vw;
}

.anime img {
  margin-top: 0;
  margin-bottom: 3vw;
  width: 40vw;
  height: 60vw;
  margin-bottom: 1vw;
  border-radius: 4.831vw;
}

.caracteristica {
  display: none;
}

.lauroaranha {
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -ms-grid-rows: 10px 10px;
      grid-template-rows: 10px 10px;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1920px) {
  h5 {
    font-size: 0.9vw;
  }
  span {
    color: #707070;
    text-align: center;
    display: block;
    font-size: 0.8vw;
  }
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 6vw 6vw auto;
        grid-template-rows: 6vw 6vw auto;
  }
  #search {
    -ms-grid-column: 1;
    grid-column: 1;
    width: 70%;
    height: 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #search input {
    margin-left: 4.348vw;
    width: 60vw;
    height: 3vw;
    border-radius: 0;
    border: 0.06vw solid #707070;
    font-size: 1vw;
  }
  .option-container {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border-bottom: 0.06vw solid #707070;
    width: auto;
    height: 5vw;
  }
  #genero {
    margin-left: 3vw;
  }
  #genero, #studio, #nota {
    width: 8vw;
    height: 2.5vw;
    margin-right: 5vw;
    background-color: transparent;
    border: transparent;
    font-size: 1vw;
  }
  .anime-container {
    -ms-grid-column: 2;
    grid-column: 2;
    width: 80%;
    height: auto;
  }
  .anime {
    background-color: #fff;
    height: 19vw;
    width: 10vw;
    margin-right: 1vw;
    margin-top: 2vw;
    border-radius: 1vw;
  }
  .anime img {
    margin-top: 0;
    width: 10vw;
    height: 15vw;
    margin-bottom: 0.5vw;
    border-radius: 1vw;
  }
  .anime:hover {
    -webkit-box-shadow: 0px 0px 1vw #000000;
            box-shadow: 0px 0px 1vw #000000;
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .lauroaranha {
    -ms-grid-row: 3;
    grid-row: 3;
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 20% 80%;
        grid-template-rows: 20% 80%;
    margin-bottom: 1vw;
  }
  .caracteristica {
    -ms-grid-column: 1;
    grid-column: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .caracteristica a > h5 {
    margin-top: 1vw;
    font-size: 1vw;
  }
}
/*# sourceMappingURL=animes.css.map */