@import 'template';

$borda: 0.2vw solid #707070;
$borda2:  4.831vw;
$borda2-large: 1vw; 
$borda-large: 0.06vw solid #707070;


h5{
    color: #000;
    text-align: center;
    font-size: 3vw;
    margin: 0;
}

span{
    color: #707070;
    text-align: center;
    display: block;
    font-size: 2.5vw;
}

.main{
    display: grid;
    grid-template-rows: 18vw 10vw auto;

}
#search{
    grid-column: 1;
	width: 100%;
    height: 18vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    input{
        border: $borda;
        border-radius: $borda2;
        width: 73.188vw;
        height: 9.903vw;
        font-style: 'Karla';
        font-size: 4vw;
    }
}


.option-container{
    display: flex;
    align-items: center;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    border-bottom: $borda;
    width: 100%;
    height: 10vw; 
}

#genero{
    margin-left: 4.348vw;
}

#genero, #studio, #nota{
    width: 29vw;
    height: 8.696vw;
    margin-right:3vw;
    background-color: transparent;
    border: transparent;
}

.anime-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.anime{
    background-color: #fff;
    height: 72vw;
    width: 40vw;
    margin-top: 4vw;
    border-radius: $borda2;
    img{
        margin-top: 0;
        margin-bottom: 3vw;
        width: 40vw;
        height: 60vw;
        margin-bottom: 1vw;
        border-radius: $borda2;
    }
}

.caracteristica{
    display: none;
}

 .lauroaranha{
        grid-template-columns: 20% 80%;
        grid-template-rows: 10px 10px;
    }
@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 1920px) {
    h5{
        font-size: 0.9vw;
    }
    span{
        color: #707070;
        text-align: center;
        display: block;
        font-size: 0.8vw;
    }

    .main{
        display: grid;
        grid-template-rows: 6vw 6vw auto;
    
    }

    #search{
        grid-column: 1;
        width: 70%;
        height: 6vw;
        display: flex;
        justify-self: center;
        justify-content: space-around;
        align-items: center;
        input{
            margin-left: 4.348vw;
            width: 60vw;
            height: 3vw;
            border-radius: 0;
            border: $borda-large;
            font-size: 1vw;
            a > img{
                width: 5vw;
                height: 5vw;
            }
        }
    }
    .option-container{
        justify-self: center;
        align-content: center;
        border-bottom: $borda-large;
        width: auto;
        height: 5vw; 
    }
    
    #genero{
        margin-left: 3vw;
    }
    
    #genero, #studio, #nota{
        width: 8vw;
        height: 2.5vw;
        margin-right:5vw;
        background-color: transparent;
        border: transparent;
        font-size: 1vw;
    }

    .anime-container{
        grid-column: 2;
        width: 80%;
        height: auto;
    }

    .anime{
        background-color: #fff;
        height: 19vw;
        width: 10vw;
        margin-right: 1vw;
        margin-top: 2vw;
        border-radius: $borda2-large;
        img{
            margin-top: 0;
            width: 10vw;
            height: 15vw;
            margin-bottom: 0.5vw;
            border-radius: $borda2-large;
        }
    }

    .anime:hover{
        box-shadow: 0px 0px 1vw #000000;
        transition: all 250ms ease-in;
        transform: scale(1.1);
    }

    .lauroaranha{
        grid-row: 3;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-rows: 20% 80%;
        margin-bottom: 1vw;
    }

    .caracteristica{
        grid-column: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        a > h5{
            margin-top: 1vw;
            font-size: 1vw;
        }

    }
}