@import 'template';

h2{
  margin-left: 1.2vw;
}

h4{
	align-self: center;
	margin-right: 0.6vw;
}


.slide-container{
  overflow: hidden;
  width: 100%;
  height: 22vw;
  text-align: center;
}

.image-container {
  position: relative;
  width: 400vw;
  height: 22vw;
  transition: left 2s;
  a:nth-child(1){
    .slider-image{
        background-image: url("../imagens/fireforce.jpg");
      }
  }
  a:nth-child(2){
      .slider-image{
        background-image: url("../imagens/accelerator.jpg");
      }
    }
      a:nth-child(3){
        .slider-image{
            background-image: url("../imagens/vinlandsaga.jpg");
          }
        }
        a:nth-child(4){
          .slider-image{
            background-image: url("../imagens/magicalsenpai.png");
          }
        }
}


.slider-image {
  float: left;
  display: flex;
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  span{
    align-self: flex-end;
    margin: 1vw; 
  }
  h1,h3{
    align-self: flex-end;
    margin: 0.2vw;
    color: #000;
  }
  h3{
    float: right;
    font-size: 1.823vw;
  }
}


.button-container {
  position: relative;
  top: -1.83vw;
}

.slider-button {
  display: inline-block;
  width: 0.87vw;
  height: 0.87vw;
  border-radius: 0.44vw;
  background-color: #fff;
  opacity: 1;
}
.slider-button:hover{
  background-color: $cinza-escuro;
}

#slider-image-01:target ~ .image-container {
  left: 0;
}

#slider-image-02:target ~ .image-container {
  left: -100vw;
}

#slider-image-03:target ~ .image-container {
  left: -200vw;
}

#slider-image-04:target ~ .image-container {
  left: -300vw;
}

/* Playlist */
.playlist-container {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 11.5vw;
  overflow: hidden;
}

.playlist {
  text-align: center;
  margin-left: 2vw;
  a {
    color: #000;
  }
  a > img {
    width: 15vw;
    height: 8.43vw;
    border-radius: 0.8vw;
  }
}

#recommended-container {
  width: auto;
  height: 19.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-x: hidden;
  overflow-y: hidden;
}

.recommended > a > img {
  width: 13.8vw;
  height: 19.4vw;
  margin-left: 2vw;
  border-radius: 0.8vw;
}


@media only screen 
and (min-device-width: 320px) 
  and (max-device-width: 599px) {
    
  .main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  %scrollweb{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }

  /* Main */

  .slide-container{
    width: 95%;
    margin: 0 auto;
    height: 50vw;
    margin-top: 3vw;
    border-radius: 5vw;
    @extend %scrollweb;
  }

  .image-container{
    width: 400vw;
    height: 50vw;
    border-radius: 5vw;
  }

  .slider-image{
    scroll-snap-align: start;
    h1,h3{
      color: #fff;
      text-shadow: 2px 1.5px $cinza-escuro;
    }
    h1{
    font-size: 7vw;
    }
    h3{
    float: right;
    font-size: 4vw;
    }
  }

  .info{
    max-width: 70%;
  }
  .button-container{
    display: none;
  }

  .playlist-container{
    width: 98%;
    height: 30vw;
    margin-left: 1.5vw;
    justify-content: space-between;
    @extend %scrollweb;
    a img {
      width: 40vw;
      height: 22.34vw;
      border-radius: 1.1vw;
    }
  }


  #recommended-container {
    width: 98%;
    height: 50vw;
    margin-left: 1.5vw;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    a > img {
      width: 30vw;
      height: 45vw;
      margin: 2vw;
      border-radius: 1.8vw;
    }
  }

  .playlist{
    scroll-snap-align: start;
    margin-right: 3vw;
    a > h3{
      font-size: 3vw;
    }
  }

  .recommended{
    scroll-snap-align: start;
    margin-right: 3vw;
  }
}
