#form input, #form button {
  background-color: transparent;
  border: transparent;
  outline: none;
}

.fixed, #form, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  text-rendering: optimizeLegibility;
}

body, ul, li, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Karla';
}

h1 {
  font-size: 3.5vw;
}

h2 {
  font-size: 1.5vw;
}

h3 {
  font-size: 0.95vw;
}

h4 {
  font-size: 1.1vw;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
}

.fixed {
  background-color: #fff;
  width: 98%;
  height: 4vw;
  padding: 1.46vw;
}

#menu_collapse {
  display: none;
}

.icon {
  display: none;
}

#logotipo {
  width: 15vw;
  height: 3.6vw;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  margin-left: 1.46vw;
}

.menu li a {
  color: #707070;
  display: block;
  padding: 0.73vw;
  font-size: 1.317vw;
}

.menu li a:hover {
  background-color: #d9d9d9;
  border-radius: 0.1vw;
}

#login {
  width: 2.63vw;
  height: 2.63vw;
  border-radius: 50%;
  background-image: url("../imagens/laphoto.jpg");
}

#login a > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#form {
  position: relative;
  width: 16.57vw;
  height: 0.8vw;
  border: 0.07vw solid #707070;
  border-radius: 1.46vw;
  padding: 0.5vw;
}

#form input {
  font-size: 0.9vw;
  font-family: 'Karla';
}

#form button img {
  width: 0.8vw;
  height: 0.8vw;
}

/* Footer */
footer {
  width: 100%;
  height: 5.12vw;
  margin-top: 1.5vw;
  background-color: #fff;
}

.social-holder {
  width: 200vw;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.social-holder a > img {
  width: 3vw;
  height: 3vw;
  margin: 1vw;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 599px) {
  h2 {
    font-size: 4.2vw;
  }
  h3 {
    font-size: 2vw;
  }
  h4 {
    font-size: 2.5vw;
  }
  footer {
    margin-top: 0;
  }
  header {
    min-height: 20vw;
    max-height: 48vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fixed {
    width: auto;
    height: 17vw;
  }
  #logotipo {
    width: 50vw;
    height: 12vw;
  }
  nav {
    display: none;
  }
  #menu_collapse {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 20vw;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .menu {
    width: 100%;
    background-color: #fff;
  }
  .menu li {
    margin-left: 1.3vw;
  }
  .menu li a {
    padding: 0.7vw;
    color: #707070;
    font-size: 4vw;
  }
  .icon {
    display: block;
    color: black;
    font-size: 7vw;
  }
  #form {
    display: none;
    position: absolute;
    z-index: 1;
    top: 20vw;
    width: 100%;
    height: 15vw;
    background-color: #fff;
  }
  #form input {
    width: 90%;
    height: 10vw;
    border: 0.3vw solid #707070;
    border-radius: 1vw;
    font-size: 3vw;
    margin: 3vw;
  }
  #login {
    display: none;
  }
  /* Footer */
  footer {
    width: 100%;
    height: 12vw;
    margin-top: 4vw;
  }
  footer a > img {
    width: 6vw;
    height: 6vw;
  }
}

h2 {
  margin-left: 1.2vw;
}

h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 0.6vw;
}

.slide-container {
  overflow: hidden;
  width: 100%;
  height: 22vw;
  text-align: center;
}

.image-container {
  position: relative;
  width: 400vw;
  height: 22vw;
  -webkit-transition: left 2s;
  transition: left 2s;
}

.image-container a:nth-child(1) .slider-image {
  background-image: url("../imagens/boku_no_hero_quarta_temporada.jpg");
}

.image-container a:nth-child(2) .slider-image {
  background-image: url("../imagens/swordaronline_alicization_war_of_underworld.jpg");
}

.image-container a:nth-child(3) .slider-image {
  background-image: url("../imagens/nanatsu_no_taizai_terceira_temporada.jpg");
}

.image-container a:nth-child(4) .slider-image {
  background-image: url("../imagens/shougeki_no_souma_terceira_temporada.jpg");
}

.slider-image {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-image span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 1vw;
}

.slider-image h1, .slider-image h3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0.2vw;
  color: #000;
}

.slider-image h3 {
  float: right;
  font-size: 1.823vw;
}

.button-container {
  position: relative;
  top: -30px;
}

.slider-button {
  display: inline-block;
  width: 0.87vw;
  height: 0.87vw;
  border-radius: 0.44vw;
  background-color: #fff;
  opacity: 1;
}

.slider-button:hover {
  background-color: #707070;
}

#slider-image-01:target ~ .image-container {
  left: 0;
}

#slider-image-02:target ~ .image-container {
  left: -100vw;
}

#slider-image-03:target ~ .image-container {
  left: -200vw;
}

#slider-image-04:target ~ .image-container {
  left: -300vw;
}

/* Playlist */
.playlist-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 12vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.playlist {
  padding: 6px;
  text-align: center;
}

.playlist a {
  color: #000;
}

.playlist a > img {
  width: 15vw;
  height: 8.43vw;
  border-radius: 0.8vw;
}

#recommended-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 20vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.recommended {
  padding: 6px;
}

.recommended a > img {
  width: 12.9vw;
  height: 19.4vw;
  border-radius: 0.8vw;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 599px) {
  .main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .slide-container, .playlist-container {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  /* Main */
  .slide-container {
    width: 95%;
    margin: 0 auto;
    height: 50vw;
    margin-top: 3vw;
    border-radius: 5vw;
  }
  .image-container {
    width: 400vw;
    height: 50vw;
    border-radius: 5vw;
  }
  .slider-image {
    scroll-snap-align: start;
  }
  .slider-image h1, .slider-image h3 {
    color: #fff;
    text-shadow: 2px 1.5px #707070;
  }
  .slider-image h1 {
    font-size: 7vw;
  }
  .slider-image h3 {
    float: right;
    font-size: 4vw;
  }
  .info {
    max-width: 70%;
  }
  .button-container {
    display: none;
  }
  .playlist-container {
    width: 98%;
    height: 32vw;
    margin-left: 1.5vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .playlist-container a img {
    width: 40vw;
    height: 22.34vw;
    border-radius: 1.1vw;
  }
  #recommended-container {
    width: 98%;
    height: 50vw;
    margin-left: 1.5vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  #recommended-container a > img {
    width: 30vw;
    height: 45vw;
    margin: 2vw;
    border-radius: 1.8vw;
  }
  .playlist {
    scroll-snap-align: start;
  }
  .playlist a > h3 {
    font-size: 3vw;
  }
  .recommended {
    scroll-snap-align: start;
  }
}
/*# sourceMappingURL=style.css.map */