@import 'template';

.slide-container{
  overflow: hidden;
  width: 100%;
  height: 22vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.image-container {
  position: relative;
  width: 400vw;
  height: 22vw;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
}

.slider-image {
  float: left;
}

.button-container {
  top: -1.83vw;
  position: relative;
}

.slider-button {
  display: inline-block;
  width: 0.87vw;
  height: 0.87vw;
  border-radius: 0.44vw;
  background-color: #fff;
}

#slider-image-01:target ~ .image-container {
  left: 0;
}

#slider-image-02:target ~ .image-container {
  left: -100vw;
}

#slider-image-03:target ~ .image-container {
  left: -200vw;
}

#slider-image-04:target ~ .image-container {
  left: -300vw;
}

/* Playlist */
.playlist-container {
  width: 100%;
  height: 18.3vw;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 22% auto;
}

.playlist {
  grid-row: 2;
  text-align: center;
  margin: 0.73vw;
  a {
    color: #000;
  }
  a > img {
    width: 17.56vw;
    height: 9.8vw;
    border-radius: 1.1vw;
  }
}

#recommended-container {
  display: grid;
  width: 100%;
  height: 32.94vw;
  grid-template-columns: 20%;
  grid-template-rows: 15% auto;
}

.recommended {
  grid-row: 2;
}

.recommended > a > img {
  border-radius: 1.8vw;
  margin-left: 20px;
  width: 16.8374816984vw;
  height: 25.2562225476vw;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 599px) {

  .main{
    display: grid;
    grid-template-rows: 53vw 40vw 55vw;
  }

  h2{
    font-size: 4.2vw;
  }

  h3{
    font-size: 2vw;
  }

  h4{
    font-size: 2vw;
  }


  header {
    width: 100%;
    height: 20vw;
    padding: 0;
  }

  /* Main */

  .slide-container{
    grid-row: 1;
    margin-top: 3vw;
    width: 95%;
    height: 50vw;
    border-radius: 5vw;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory; 
  }

  .image-container{
    width: 400vw;
    border-radius: 5vw;
    height: 50vw;
    scroll-snap-align: start;
  }

  .image-container a > img{
    scroll-snap-align: start;
  }

  .button-container{
    display: none;
  }

  .playlist-container{
    grid-row: 2;
    grid-template-columns: 42vw 42vw 42vw 42vw;
    width: 98%;
    height: 43vw;
    margin-left: 1.5vw;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    a img {
      width: 40vw;
      height: 22.34vw;
      border-radius: 1.1vw;
    }
  }


  #recommended-container {
    grid-row: 3;
    width: 98%;
    height: 50vw;
    margin-left: 1.5vw;
    grid-template-columns: 32vw;
    grid-template-rows: 20% auto;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    a > img {
      border-radius: 1.8vw;
      margin-left: 20px;
      width: 30vw;
      height: 45vw;
    }
  }

}