@import 'template';

.container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

#img-holder{
    grid-column: 2;
    img{
        width: 6.250vw;
        height: 6.25vw;
    }
}