$cinza-escuro: #707070; 

h4{
	align-self: center;
	margin-right: 0.6vw;
}

.slide-container{
  overflow: hidden;
  width: 100%;
  height: 22vw;
  max-height: 380px;
  text-align: center;
}

.image-container {
  position: relative;
  width: 400vw;
  height: 22vw;
  max-height: 380px;
  transition: left 2s;
  a:nth-child(1){
    .slider-image{
      background-image: url("../imagens/boku_no_hero_quarta_temporada.jpg");
    }
  }
  a:nth-child(2){
    .slider-image{
      background-image: url("../imagens/swordaronline_alicization_war_of_underworld.jpg");
      }
    }
      a:nth-child(3){
        .slider-image{
            background-image: url("../imagens/nanatsu_no_taizai_terceira_temporada.jpg");
          }
        }
        a:nth-child(4){
          .slider-image{
            background-image: url("../imagens/shougeki_no_souma_terceira_temporada.jpg");
          }
        }
}


.slider-image {
  float: left;
  display: flex;
  width: 100vw;
  height: 100%;
  /* Parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  span{
    align-self: flex-end;
    margin: 1.9em; 
  }
  h1,h3{
    align-self: flex-end;
    margin: 0.1em;
    color: #000;
  }
  h3{
    float: right;
    font-size: 3em;
  }
}


.button-container {
  position: relative;
  top: -3em;
}

.slider-button {
  display: inline-block;
  width: 0.65vw;
  height: 0.65vw;
  border-radius: 0.85em;
  background-color: #fff;
  opacity: 1;
}
.slider-button:hover{
  background-color: $cinza-escuro;
}

#slider-image-01:target ~ .image-container {
  left: 0;
}

#slider-image-02:target ~ .image-container {
  left: -100vw;
}

#slider-image-03:target ~ .image-container {
  left: -200vw;
}

#slider-image-04:target ~ .image-container {
  left: -300vw;
}

/* Playlist */
.playlist-container {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 12vw;
  max-height: 200px;
}

.playlist {
  padding: 0.6em;
  text-align: center;
  a {
    color: #000;
  }
  a > img {
    width: 14vw;
    height: 8.05vw;
    border-radius: 1em;
  }
}

#recommended-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  min-width: 60%;
  max-width: 90%;
  height: 15vw;
  max-height: 280px;
}

.recommended {
  padding: 0.6em;
  a > img {
    width: 9.309vw;
    height: 14vw;
    border-radius: 1.5em;
  }
}


@media only screen 
and (min-device-width: 320px) 
  and (max-device-width: 599px) {
    
  .main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  %scrollweb{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }

  /* Main */

  .slide-container{
    width: 95%;
    margin: 0 auto;
    height: 50vw;
    margin-top: 1.125em;
    border-radius: 1.875em;
    @extend %scrollweb;
  }

  .image-container{
    width: 400vw;
    height: 50vw;
    border-radius: 1.875em;
  }

  .slider-image{
    scroll-snap-align: start;
    h1,h3{
      color: #fff;
      text-shadow: 2px 1.5px $cinza-escuro;
    }
    h1{
    font-size: 2.625em;
    }
    h3{
    float: right;
    font-size: 1.5em;
    }
  }

  .info{
    max-width: 70%;
  }
  .button-container{
    display: none;
  }

  .playlist-container{
    width: 98%;
    height: auto;
    margin-left: 0.5625em;
    justify-content: space-between;
    @extend %scrollweb;
    a img {
      width: 40vw;
      height: 22.34vw;
      border-radius: 0.41em;
    }
  }

  .playlist{
    height: 35vw;
  }


  #recommended-container {
    width: 98%;
    height: auto;
    margin-left: .5625em;
    @extend %scrollweb;
    a > img {
      width: 30vw;
      height: 45vw;
      margin: .75em;
      border-radius: .675em;
    }
  }

  .playlist{
    scroll-snap-align: start;
    a > h3{
      font-size: 1.125em;
    }
  }

  .recommended{
    scroll-snap-align: start;
  }
}
