main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  width: 60%;
}

.video-holder h1 {
  font-size: 3em;
  margin-top: 0.4em;
  margin-bottom: 0;
  max-width: 756px;
}

.video-holder h3 {
  font-size: 2em;
  font-weight: lighter;
}

.video-container {
  max-width: 1920px;
  max-height: 1080px;
  border: solid 0.5px #707070;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20.833vw;
  max-width: 400px;
}

.actions a {
  color: #707070;
}

.actions i {
  font-size: 2.5em;
}

.sidebar {
  width: 28%;
  min-height: 500px;
}

.ad {
  margin: 0 auto;
  margin-top: 0.5em;
  width: 80%;
  height: 15.365vw;
  max-height: 295px;
  background-color: #fff;
  border-radius: 0.2em;
  border: solid 1px #707070;
  text-align: center;
  color: #707070;
  font-size: 5em;
}

.playlist-holder {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.playlist-holder h2 {
  width: 100%;
  float: left;
}

#disqus_thread {
  width: 90%;
}

h3 {
  font-size: 1.5em;
  float: right;
}

.playlist {
  margin-top: 2.8em;
  width: 90%;
  max-width: 600px;
}

.playlist a {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playlist a img {
  width: 14vw;
  max-width: 250px;
  height: 8.05vw;
  max-height: 143.5px;
  border-radius: 1em;
}

.playlist h3 {
  margin: 0;
  margin-left: 1em;
  width: 15vw;
  font-size: 2em;
}

.playlist h3 span {
  font-weight: lighter;
  display: block;
  color: #707070;
  font-size: 1em;
}

#moreinfo {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 14vw;
}

#moreinfo hgroup {
  margin-left: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

#moreinfo h4 {
  margin-bottom: 0;
  font-size: 1.5em;
}

#moreinfo :nth-child(1) {
  margin-top: 0;
  color: #000;
}

#moreinfo p {
  font-size: 1em;
  text-align: justify;
}

#moreinfo img:nth-child(1) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 8vw;
  height: 11.75vw;
  border-radius: 1.5vw;
}

.semelhante {
  margin-left: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  height: 11vw;
}

.semelhante h4 {
  position: absolute;
  height: auto;
}

.semelhante img {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 6.13vw;
  height: 9vw;
}

@media screen and (max-width: 599px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video-holder {
    padding: 0;
    width: 100%;
    height: auto;
  }
  .video-holder h1 {
    font-size: 1.8em;
    margin-top: 0.4em;
    margin-bottom: 0;
    margin-left: 0.5em;
    max-width: 756px;
  }
  .video-holder h3 {
    font-size: 1.5em;
    font-weight: lighter;
  }
  .video-container {
    width: 100%;
    height: auto;
  }
  .actions {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .actions a {
    color: #707070;
  }
  .actions i {
    font-size: 2em;
  }
  #moreinfo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: none;
    margin-left: 10px;
    width: 90%;
    height: 40vw;
    border-bottom: solid 1px #707070;
  }
  #moreinfo hgroup {
    width: 63%;
  }
  #moreinfo h4 {
    font-size: 2.5vw;
    margin-bottom: 0;
  }
  #moreinfo :nth-child(1) {
    color: #000;
  }
  #moreinfo p {
    font-size: 2vw;
    text-align: justify;
  }
  #moreinfo img:nth-child(1) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 25vw;
    height: 37vw;
    border-radius: 1vw;
  }
  .semelhante {
    display: none;
  }
  .ad {
    width: 100%;
    border-radius: 0;
  }
  .sidebar {
    width: 100%;
  }
  h2 {
    margin-left: 1em;
  }
  .playlist-holder {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h3 {
    font-size: 0.8em;
    float: right;
  }
  .playlist {
    margin-top: 1.3em;
    width: 90%;
  }
  .playlist h3 {
    width: 40vw;
  }
  .playlist h3 span {
    font-size: 0.5em;
    display: block;
  }
  .playlist a {
    color: #000;
  }
  .playlist a img {
    width: 45.867vw;
    height: 25.600vw;
    border-radius: 0.4em;
  }
  #disqus_thread {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
  }
}
/*# sourceMappingURL=video.css.map */