<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ryzen_DRAM_Calculator_1._5._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Ryzen_DRAM_Calculator_1._1._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Ryzen_DRAM_Calculator_1._5._0.Properties.Settings>
            <setting name="Frequency" serializeAs="String">
                <value>3200</value>
            </setting>
            <setting name="tCL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tRCDWR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tRCDRD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tRP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tRAS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tRC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tRFC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tRRDS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tRRDL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tFAW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DIMM" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RANK" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TYPE" serializeAs="String">
                <value>Samsung B-die</value>
            </setting>
            <setting name="BCLK" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="profileversion" serializeAs="String">
                <value>V1</value>
            </setting>
            <setting name="CPU" serializeAs="String">
                <value>Ryzen 1 gen</value>
            </setting>
            <setting name="TASK" serializeAs="String">
                <value>B350/X370</value>
            </setting>
            <setting name="membench_time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="membench_mts" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="membench_time2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="membench_mts2" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="latency1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="latency2" serializeAs="String">
                <value>0</value>
            </setting>
        </Ryzen_DRAM_Calculator_1._5._0.Properties.Settings>       
    </userSettings>
</configuration>
